body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

header{
    height: 100px;
    position: sticky;
        top: 0;
    color: white;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 10px;
}

#main-section-one{
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

#section-one-left > h1{
    font-size: 48px;
    color: white;
    margin: 0px;

}
#section-one-left > p{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}

#section-one-left > button{
    height: 50px;
    width: 150px;
	background-color:#3d94f6;
    color: white;
	border-radius:6px;
    font-size: 18px;
}

#section-one-right > img{
    height: 200px;
    width: 350px;
}

#main-section-two > h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
}

#section-two-boxes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#section-two-boxes > * > p{
    text-align: center;
    font-size: 18px
}
#section-two-boxes > * > img{
    border-radius: 10%;
    height: 200px;
    width: 200px;
}

#main-section-three{
    background-color: white;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#main-section-three > p{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
}
#main-section-three > h3{
    color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

#main-section-four{
    width: 50%;
    margin: auto;
    display: flex;
    background-color: #3882f6;
    color: white;
    justify-content: center;
    gap: 50px;
    border-radius: 10px;
}

#main-section-four > * > h5{
    margin-top: 0px;
}

#main-section-four > button{
    width: 100px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: #3882f6;
}
#section-four-upper-space,
#section-four-bottom-space{
    height: 50px;
    background-color: white;
}

.header-links > *{
    display: flex;
    gap: 10px;
    list-style: none;
}

.header-links > * > * > a{
    text-decoration: none;
    color: white;
}
