body{
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

header{
    height: 100px;
    position: sticky;
        top: 0;
    color: white;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main{
    height: 900px;
}


footer{
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 10px;
}

#main-section-one{
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

#section-one-left > h1{
    font-size: 48px;
    color: white;
    margin: 0px;

}
#section-one-left > p{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
}

#section-one-left > button{
    height: 50px;
    width: 150px;
	background-color:#3d94f6;
    color: white;
	border-radius:6px;
    font-size: 18px;
}


#section-one-right > img{
    height: 200px;
    width: 350px;
}

.header-links > *{
    display: flex;
    gap: 10px;
    list-style: none;
}

.header-links > * > * > a{
    text-decoration: none;
    color: white;
}
